---
import { Button, Modal, ModalHeader, ModalBody } from "free-astro-components";
---

<div style="display: none;" class="modal-btn-wrapper">
  <Button label="Open Modal" data-modal-trigger="modal-id" />
</div>

<Modal id="modal-id">
  <ModalHeader>
    <h4 style="font-size:25px; margin: 1rem 0 0 0; text-align:center;">
      Inquiry Confirmation
    </h4>
  </ModalHeader>
  <ModalBody>
    <div style="display: flex; flex-direction:column;">
      <div class="input-fullname"></div>
      <div class="input-email"></div>
      <div class="input-phone-number"></div>
      <div class="input-birthday"></div>
      <div class="input-services"></div>
      <div class="input-booking-time"></div>
      <div class="input-message"></div>
    </div>
    <p style="text-align:center;">
      Thank you for your inquiry, and we'll get back to you as soon as possible.
    </p>
  </ModalBody>
</Modal>
